<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZonaImnueble</title>
</head>

<body>
  <div style="max-width: 50%;margin: 0 auto;">
    <h1>¡Estas a 1 minuto de conocer si la ubicación que siempre has soñado, es ideal para Ti!</h1>
    <p>Analizar y evaluar la zona en donde queremos vivir o invertir ha tomado gran importancia al elegir la ubicación
      de
      nuestro próxima propiedad.</p>
    <p><b><i>En zonainmueble.mx te ayudamos con datos para que puedas tomar una decisión informada al momento de
          adquirir
          tu próximo inmueble</i></b></p>

    <div id="questionsContainer">
    </div>

    <p>
      Gracias, tu información es muy valiosa para mejorar el ecosistema de los bienes raíces en México y contribuir a
      que las personas puedan tomar decisiones informadas y así ayudar a tener una vida más plena.
      <br>
      <b>30 segundos más y sabrás si la ubicación es ideal para ti</b>
    </p>

    <p>
      Escribe la dirección del inmueble que quieres analizar (sólo ubicaciones dentro de México)
      <br>
      <input id="addressAutocomplete" type="text" placeholder="Dirección del inmueble"
        style="width: 100%; padding: 5px;">
    </p>
    <div id="map" style="height: 400px; width: 100%;">

    </div>
    <h4>
      Dirección del inmueble: <input id="address" type="text" style="width: 100%;"></input>
    </h4>
    <hr>
    <p>
      Danos el correo electrónico donde te enviaremos tu reporte basico de ubicación <b>(gratuito)</b>
      <br>
      <input id="email" type="text" placeholder="Correo electrónico" value="hola@zonainmueble.mx">
    </p>

    <p>
      Si nos das tu numero de celular te enviaremos tu reporte por <b>WhatsApp</b> y un cupón de descuento
      <br>
      <input id="phone" type="text" placeholder="WhatsApp" value="5544332211">
    </p>

    <p>Gracias en breve recibirás tu primer reporte de ubicación de forma gratuita, no olvides visitarnos en
      zonainmueble.mx</p>

    <div style="text-align: right;">
      <input id="sendSurvey" type="button" value="Enviar">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
      key: "AIzaSyDi9WC7UZjkzFdofNS8K0jYbRurOrIVrfQ",
      v: "weekly",
    });
  </script>
  <script src="js/survey.js"></script>
</body>

</html>