<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZonaImnueble</title>
</head>

<body>
  <div style="max-width: 50%;margin: 0 auto;">
    <h1>¡Estas a 1 minuto de conocer si la ubicación que siempre has soñado, es ideal para Ti!</h1>
    <p>Analizar y evaluar la zona en donde queremos vivir o invertir ha tomado gran importancia al elegir la ubicación
      de
      nuestro próxima propiedad.</p>
    <p><b><i>En zonainmueble.mx te ayudamos con datos para que puedas tomar una decisión informada al momento de
          adquirir
          tu próximo inmueble</i></b></p>

    <div id="questionsContainer">
    </div>

    <p>
      Gracias, tu información es muy valiosa para mejorar el ecosistema de los bienes raíces en México y contribuir a
      que las personas puedan tomar decisiones informadas y así ayudar a tener una vida más plena.
      <br>
      <b>30 segundos más y sabrás si la ubicación es ideal para ti</b>
    </p>

    <p>
      Escribe la dirección del inmueble que quieres analizar (sólo ubicaciones dentro de México)
      <br>
      <input id="address" type="text" placeholder="Dirección del inmueble" value="Lago Garda 83, Anáhuac I Secc, Miguel Hidalgo, 11320 Ciudad de México, CDMX">
    </p>

    <p>
      Danos el correo electrónico donde te enviaremos tu reporte basico de ubicación <b>(gratuito)</b>
      <br>
      <input id="email" type="text" placeholder="Correo electrónico" value="hola@zonainmueble.mx">
    </p>

    <p>
      Si nos das tu numero de celular te enviaremos tu reporte por <b>WhatsApp</b> y un cupón de descuento
      <br>
      <input id="phone" type="text" placeholder="WhatsApp" value="5544332211">
    </p>

    <p>Gracias en breve recibirás tu primer reporte de ubicación de forma gratuita, no olvides visitarnos en
      zonainmueble.mx</p>

    <div style="text-align: right;">
      <input id="sendSurvey" type="button" value="Enviar">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/survey.js"></script>
</body>

</html>